.header-row {
    background: #99d3e9;
    height: 35px;
}

.col-checkbox {
    width: 2%;
}

.table-data {
    border-bottom: 1px solid black;
    height: 25px;
}

.first-col {
    text-align: center;
    height: 25px;
}

.clickable-column {
	cursor: pointer;
	color: #3286DB;
	font-weight: bold;
}

.print-column-button-container {
    padding-top: 5px;
    text-align: center;
}

.print-column-button-container button {
    border: 1px solid #2e10a5;
    height: 20px;
    text-transform: uppercase;
    background-color: inherit;
    color: #2e10a5;
    cursor: pointer;
}